:root{
    --sz-header: 60px;
    --sz-footer: 40px;
    --sz-main: calc(100vh - var(--sz-header) - var(--sz-footer));
}
header{ height: var(--sz-header); }
footer{ height: var(--sz-footer); }
main{ height: var(--sz-main); }
footer>div, main>div{ height: 100%; width: 100%; }